.Gerencimentopagina{
         margin: 0;

      background-color: #4D7C9C;
}
.Gerencimentopagina .conteudomain{
    margin-left: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.Gerencimentopagina .container-kpis {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.sidebar {
    height: 100vh;      
    width: 20%;    
    font-family: Poppins;
    font-weight: bold;
    position: fixed;    
    background-color: #0e1a40;
    color: white;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
    font-size: 1.5rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li a {
    padding: 15px 25px;
    display: block;
    color: white;
     font-size: 100%;
    text-decoration: none;
    transition: 0.3s;
}


.sidebar li a:hover {
    background-color:#d59600;
    padding-left: 35px;
}


.content {
     margin-left: 20%;
    width: 80%;
}
.logo{
    width:50%;
    height:40%;
     display: block;
    margin: 0 auto;
}
.container-kpis {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
   
    
     
}
.card-kpi {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: #1b263b;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-logout{
    background-color: #4D7C9C;
    color:white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    width: 200px;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
#graficoUsuarios{
    width: 600px !important;
    height: 400px !important;
    background-color: #FFFFFF;
}
.grafico-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap:20px;
    
}
#graficoStatus{
     width: 600px !important;
    height: 400px !important;
    background-color: #FFFFFF;
}
.grafico-card{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 20px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.dashboardpagina{
    margin: 0;
    background-color: #4D7C9C;
}
.dashboardpagina .conteudoprincipal{
  margin-left: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#graficoranking{
    width: 600px !important;
    height: 400px !important;
    background-color: #f9fbfe;
}
#graficoperguntasMaisErradas{
    width: 600px !important;
    height: 400px !important;
    background-color: #FFFFFF;
}
.ativo{
    background-color: #d59600;
}
.filtro{

    display: flex;
    gap:10px;
    align-items: center;
    margin-bottom: 20px;
}
.btn_filtrar{
    background-color: #d59600;
    color:#ffffff;
    border-radius:10px;
    width: 200px;
    height: 30px;
}
#select_mes{

    padding: 8px;
    border-radius: 8px;
    border: 2px solid #00184b;
    font-size: 15px;
}
